
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');
body{
    background: #AA5E64;
}
.box-wrapper{
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2%;
    height: 35vh;
    margin-top: 150px;
    margin-bottom: 100px;
}
h1{
    padding-top: 0.8em;
    padding-left: 0.9em;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.9em;
    font-size: 2em;
}
p{
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
@media(max-width:1920px){
    .box-wrapper{
        height: 40vh;
    }
}

@media(max-width:414px){
    .box-wrapper{
        height: 60vh;
    }
}
@media (max-width:320px){
    
    .box-wrapper{
        height: 67vh;
    }
    p{
        font-size: 21px;
    }
}

@media (max-width:390px),
(max-width:366px){
    p{
        font-size: 23.5px;
    }
}

@media(max-width:337px),
(max-width:342px),
(max-width:345px){
    p{
        font-size: 22px;
    }
}


