
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');
body{
    background: #AA5E64;
}
.box-wrapper{
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2%;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;
}
h1{
    padding-top: 0.8em;
    padding-left: 0.9em;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.9em;
    font-size: 2em;
}
p{
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width:1920px) {
    .box-wrapper{
        height: 120vh;
    }
}
@media(max-width:1352px){
    .box-wrapper{
        height: 150vh;
    }
}

@media(max-width:1221px){
    .box-wrapper{
        height: 110vh;
    }
}
@media(max-width:544px){
    p{
        font-size: 20px;
    }
}



@media(max-width:506px){
    .box-wrapper{
        height: 120vh;
    }
}

@media(max-width:472px){
    .box-wrapper{
        height: 130vh;
    }
    p{
        font-size: 20px;
    }
}

@media (max-width:425px) {
    .box-wrapper{
        height: 140vh;
    }
}
@media(max-width:414px){
    p{
        font-size: 20px;
    }

   }

   @media(max-width:360px){
    p{
        font-size: 20px;
    }

    .box-wrapper{
        height: 200vh;
    }

   }



